--extra-index-url https://download.pytorch.org/whl/cpu

streamlit>=1.35.0
fastapi>=0.110.0
uvicorn>=0.29.0
requests>=2.31.0
python-dotenv>=1.0.0

torch==2.2.2+cpu
torchvision==0.17.2+cpu

faster-whisper
openai-whisper

soundfile>=0.12.1
librosa>=0.10.0
numpy>=1.24.0
scipy>=1.10.0

TTS>=0.22.0